<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-container" [class.loading]="isLoading">
    <div class="logo-container">
      <img src="assets/carlogix-logo.png" alt="CARLOGIX DRIVEN BY DATA" class="carlogix-logo">
      <h1 class="page-title">Equipment Health Search</h1>
    </div>

    <div class="railcar-inputs">
      <ion-item *ngFor="let input of railcarInputs; let i = index; trackBy: trackByIndex" class="railcar-item">
        <ion-label position="stacked">Add Railcar</ion-label>
        <ion-input 
          [(ngModel)]="railcarInputs[i]" 
          placeholder="Enter railcar number"
          type="text">
        </ion-input>
      </ion-item>
    </div>

    <div class="add-more-container">
      <a (click)="addRailcarInput()" class="add-more-link">+ Add another</a>
    </div>

    <div class="search-button-container">
      <ion-button expand="block" (click)="onSearch()" class="search-button" [disabled]="isLoading">
        Search
      </ion-button>
    </div>

    <div *ngIf="isLoading" class="loading-overlay">
      <ion-spinner></ion-spinner>
    </div>
  </div>
</ion-content>
